// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: darken(#309cd4, 6.5%) !default; // #337ab7
$brand-success: #5cb85c !default;
$brand-info: #5bc0de !default;
$brand-warning: #ffa21a !default;
$brand-danger: #f55a4e !default;

$curious_blue: $brand-primary;
$eastern_blue: #1b7fba;
$black_haze: #f1f3f2;
$emperor: #4f4f4f;
$silver_chalice: #adadad;
$black_haze_lighter: #e1e3e2;
$shamrock: #29DA7B;

//User guide fonts
$font: 'Source Sans Pro', sans-serif;
$font_alt: 'Miriam Libre', 'Source Sans Pro', sans-serif;
$font_code: 'Operator Mono', 'Fira Code', Consolas, Monaco, 'Andale Mono', monospace;

// Typography
$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$font-size-base: 15px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

