// Fonts
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300|Material+Icons);
// Variables
@import "core/variables";
// Bootstrap
@import "components/bootstrap";
// Material-dashboard
@import "components/md";

// Font-awesome
$fa-font-path: "../../../node_modules/font-awesome/fonts" !default;
@import "../../../node_modules/font-awesome/scss/font-awesome.scss";
@import "../../../node_modules/sweetalert2/dist/sweetalert2.css";

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.material-icons.md-64 {
  font-size: 64px;
}

.material-icons.md-90 {
  font-size: 90px;
}

.material-icons.md-128 {
  font-size: 128px;
}

.btn-github {
  padding: 4px 10px;
  background: #0f0f0f !important;
  .fa {
    font-size: 4em !important;
  }
}

.bg-black {
  background-color: black !important;
}

.color-black {
  color: black !important;
}

sup.font-size-half {
  font-size: 0.70em;
}

span.hover-tip {
  cursor: default !important;
}

.taiga-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

i.fa + span {
  margin-left: 12px;
}
